# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:FinTechSQL@localhost:5432/fraud_detection")

In [22]:
# Write function that locates outliers using standard deviation
def calc_anomalies_using_standard_deviation(cardholders):
    query = "SELECT cardholder_id as cardholder, date as hour,amount FROM \"transaction\" t INNER JOIN credit_card c ON c.card = t.card ORDER BY amount"
    df = pd.read_sql(query,engine)
    data = df.loc[df['cardholder'].isin(cardholders)]
    mean = np.mean(data['amount'], axis=0)
    sd = np.std(data['amount'], axis=0)
    return data[(data['amount'] < (mean - 2 * sd)) | (data['amount'] > (mean + 2 * sd))]

In [23]:
# Find anomalous transactions for 3 random card holders
anamalous_transactions = calc_anomalies_using_standard_deviation([2,18,25])
anamalous_transactions

      cardholder                hour  amount
3425          25 2018-06-06 21:50:17   749.0
3428          18 2018-07-18 09:19:08   974.0
3429          25 2018-08-16 10:01:00  1001.0
3438          25 2018-05-13 06:31:20  1046.0
3443          25 2018-04-08 06:03:50  1063.0
3445          25 2018-12-18 13:33:37  1074.0
3447          18 2018-04-03 03:23:37  1077.0
3458          18 2018-12-13 12:09:58  1154.0
3461          25 2018-06-04 03:46:15  1162.0
3462          18 2018-09-10 22:49:41  1176.0
3463          25 2018-01-30 18:31:00  1177.0
3470          25 2018-03-06 07:18:09  1334.0
3485          18 2018-11-17 05:30:43  1769.0
3490          25 2018-06-22 06:16:50  1813.0
3491          18 2018-06-03 20:02:28  1814.0
3492          18 2018-02-19 22:48:25  1839.0

## Identifying Outliers Using Interquartile Range

In [20]:
# Write a function that locates outliers using interquartile range
def calc_median(df):
    median = 0
    if len(df) % 2 == 0:
        amount_1 = df[:int(len(df)/2)].iloc[[-1]]['amount'].values[0]
        amount_2 = df[int(len(df)/2) + 1 :].iloc[[0]]['amount'].values[0]
        median = (amount_1 + amount_2) / 2
    else:
        median = df[:int(len(df)/2)].iloc[[-1]]['amount'].values[0]
    return median

def calc_anomalies_using_interquartile(cardholders):
    query = "SELECT cardholder_id as cardholder, date as hour,amount FROM \"transaction\" t INNER JOIN credit_card c ON c.card = t.card ORDER BY amount"
    df = pd.read_sql(query,engine)
    data = df.loc[df['cardholder'].isin(cardholders)]
    data_q1 = data[:int(len(data)/2)]
    data_q3 = data[int(len(data)/2) + 1 :] 
    q1 = calc_median(data_q1)
    q2 = calc_median(data)
    q3 = calc_median(data_q3)
    interquartile_inner = (q3 - q1) * 1.5
    interquartile_outer = (q3 - q1) * 3
    innerfence = [q1 - interquartile_inner, q3 + interquartile_inner]
    outerfence = [q1 - interquartile_outer, q3 + interquartile_outer]
    return data[(data['amount'] < outerfence[0]) | (data['amount'] > outerfence[1])]

In [21]:
# Find anomalous transactions for 3 random card holders
data = calc_anomalies_using_interquartile([2,18,25])
    
data

      cardholder                hour  amount
3392          25 2018-04-01 07:17:21   100.0
3393          18 2018-07-06 16:12:08   117.0
3394          18 2018-06-30 01:56:19   121.0
3395          25 2018-10-28 02:12:58   137.0
3397          18 2018-01-07 01:10:54   175.0
3408          25 2018-04-09 18:28:25   269.0
3413          18 2018-01-08 11:15:36   333.0
3417          18 2018-09-02 11:20:42   458.0
3425          25 2018-06-06 21:50:17   749.0
3428          18 2018-07-18 09:19:08   974.0
3429          25 2018-08-16 10:01:00  1001.0
3438          25 2018-05-13 06:31:20  1046.0
3443          25 2018-04-08 06:03:50  1063.0
3445          25 2018-12-18 13:33:37  1074.0
3447          18 2018-04-03 03:23:37  1077.0
3458          18 2018-12-13 12:09:58  1154.0
3461          25 2018-06-04 03:46:15  1162.0
3462          18 2018-09-10 22:49:41  1176.0
3463          25 2018-01-30 18:31:00  1177.0
3470          25 2018-03-06 07:18:09  1334.0
3485          18 2018-11-17 05:30:43  1769.0
3490          25 2018-06-22 06:16:50  1813.0
3491          18 2018-06-03 20:02:28  1814.0
3492          18 2018-02-19 22:48:25  1839.0